<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../cssFile/login.css" />
<link type="text/css" rel="stylesheet" href="../cssFile/index.css" />
<script type="text/javascript" src="../jsFile/vue.js"></script>

<title>index</title>
</head>

<body onload="setHtmlSize()">
<div id="mainDiv" class="mainDiv">
	<div class="titleDiv">
		<button class="backButton" v-on:click=" seen = 1; afterSearch = []; searchSeen = 0; searchTXT = '';" v-if="!seen"></button>
	</div>
	<div class="searchDiv">
		<input type="text" id="search_txt" class="searchInput" placeholder="输入卡号或姓名搜索" v-model="searchTXT" v-on:focus="seen = 0;" v-on:keyup.enter="searchMessage"/>
		<button id="search_button" class="searchButton" v-on:click="searchMessage"></button>
		<button class="clearButton" v-on:click=" searchTXT = ''" v-if="searchTXT != ''">
	</div>
	<button class="addMessage" v-on:click="addFn"></button>
	<div id="msgDiv" class="messageDiv" v-if="seen">
		<div v-for="todo in gro" v-if="msgSeen">
			<p class="date">{{todo[0].date}}<hr></p>
			<div>
				<table class="messageStyle"  v-for="item in todo">
					<tr><td rowspan="2"><div v-bind:class="[item.cardType==1? 'schoolCard':(item.cardType==2 ? 'idCard':'bankCard'),'typeDiv']"></div></td><td class="message1">{{item.name}}</td><td rowspan="2"><button class="enterButton" v-on:click="deleteNum.kh = item.cardNum; enterSeen = 1;"></button></td></tr>
					<tr><td class="message2">{{item.cardNum}}</td></tr>
				</table>
			</div>
		</div>
	</div>
	<div v-if="searchSeen">
		<table class="messageStyle" v-for="item in afterSearch">
			<tr><td rowspan="2"><div v-bind:class="[item.cardType==1? 'schoolCard':(item.cardType==2 ? 'idCard':'bankCard'),'typeDiv']"></div></td><td class="message1">{{item.name}}</td><td rowspan="2"><button class="enterButton" v-on:click="deleteNum.kh = item.cardNum; enterSeen = 1;"></button></td></tr>
			<tr><td class="message2">{{item.cardNum}}</td></tr>
		</table>
	</div>
	<div class="enterStyle" v-if="enterSeen">
		<div class="enterDiv">
			<p class="enterTd">确认失主已认领？</p>
			<button class="tdButton" style="border-right: 0.01rem solid #2ED; border-bottom-left-radius: 0.2rem" v-on:click="enterSeen = 0">取消</button>
			<button class="tdButton" style="border-bottom-right-radius: 0.2rem" v-on:click="isEnter">确定</button>
		</div>
	</div>
</div>
</body>
<script>
	//设置页面大小
	function setHtmlSize(){
	  document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px'; 
	}
	var vm = new Vue({
		el:'#mainDiv',
		data:{
			pageHeight:document.body.clientHeight, //页面一屏的高度
			nextID:1,
			currentPage:0,
			searchTXT:'',
			enterSeen:0,
			deleteNum:{kh:''},
			seen:1,
			searchSeen:0,
			msgSeen:0,
			gro:[
				[
				]
			],
			afterSearch:[]
		},
		methods:{
			handleScroll:function(){
				var scrollTop = document.body.scrollTop;
                var allHeight = document.body.scrollHeight;//如果滚动高度=页面总长-页面一屏的高度（即--滚动条到了底部）
                if(scrollTop >= allHeight - this.pageHeight){
                	this.sendRequest(this.currentPage);
                	
                }
			},
			addFn:function(){
				window.location.href = "publish.html";
			},
			addURL:function(url,name,value){
				url += (url.indexOf("?") == -1 ? "?": "&");
				url += encodeURIComponent(name) + "=" + encodeURIComponent(value);
				return url;
			},
			isEnter:function(){
				var xhr = new XMLHttpRequest();
				var i,j;
				xhr.open('post','http://139.199.66.15:5000/api/found_status',true);
				var t = this.getLocalMessage();
				xhr.setRequestHeader("Authorization",t);
				xhr.send(JSON.stringify(this.deleteNum));
				// var jsontxt = JSON.parse(xhr.responseText);
				for(j = 0; j < this.gro.length; j++){
					for(i = 0; i < this.gro[j].length; i++){
						if(this.gro[j][i].cardNum == this.deleteNum.kh){
							this.gro[j].splice(i,1);
							if(this.gro.length == 1 && this.gro[0].length == 0){
								this.msgSeen = 0;
							}
							break;
						}
					}
				}
				this.enterSeen = 0;
				if(this.searchSeen == 1){
					for(i = 0 ; i < this.afterSearch.length; i++){
						if(this.afterSearch[i].cardNum == this.deleteNum.kh){
							this.afterSearch.splice(i,1);
							if(this.afterSearch.length == 0){
								this.searchSeen = 0;
							}
						}
					}
				}
				// if(jsontxt.code == 0){
				// 	alert("操作成功");
				// }
				// else{
				// 	alert("操作失败！");
				// }

			},
			searchMessage:function(){
				var url = "http://139.199.66.15:5000/api/found";
				url = this.addURL(url,'p',this.searchTXT);
				var xhr = new XMLHttpRequest();
				var t = this.getLocalMessage();
				xhr.open('get',url,false);
				xhr.setRequestHeader("Authorization",t);
				xhr.send(null);
				var jsonTXT =JSON.parse(xhr.responseText);
				if(jsonTXT.code == 5){
					alert("该信息不存在！");//这里要用提示框代替
				}
				else{
					this.afterSearch = [];
					for(var i = 0; i < jsonTXT.info.length; i++){
						var newdate = new Date();
					 	newdate.setTime(jsonTXT.info[i].found_time * 1000);
					 	this.afterSearch.push({
							cardNum: jsonTXT.info[i].kh,
							cardType: jsonTXT.info[i].lost_type,
							name:jsonTXT.info[i].xm,
							status: jsonTXT.info[i].is_claim,
							date: (newdate.getMonth()+1)+'.'+newdate.getDate()
						});
					}
					// for(item in jsonTXT.info){
					// 	var newdate = new Date();
					// 	newdate.setTime(item.found_time * 1000);
					// 	this.afterSearch.push({
					// 		cardNum: item.kh,
					// 		cardType: item.lost_type,
					// 		name:item.xm,
					// 		status: item.is_claim,
					// 		date: (newdate.getMonth()+1)+'.'+newdate.getDate()
					// 	});
					// }
					this.searchSeen = 1;
				}				
			},
			getLocalMessage:function(){
                if(!window.localStorage){
                    return false;
                }
                else{
                    return window.localStorage.token;
                }
            },
			sendRequest:function(page){
				var url = "http://139.199.66.15:5000/api/founds?limit=15";
				var xhr= new XMLHttpRequest();
				var that = this;
				xhr.onreadystatechange = function(){
					if(xhr.readyState == 4){
						if(xhr.status >= 200 && xhr.status <300 || xhr.status == 304){
							that.currentPage+=1;
							window.removeEventListener('scroll',that.handleScroll);
							var json =JSON.parse(xhr.responseText);
							if(json.lostList.length != 0){
								setTimeout(function(){window.addEventListener('scroll',that.handleScroll);},500);
							}	
						}
						else{
							alert("网络错误:"+xhr.status);
						}
					}
				};
				url = this.addURL(url,'offset',this.currentPage);
				var t = that.getLocalMessage();
				xhr.open('get',url,false);
				xhr.setRequestHeader("Authorization",t);
				xhr.send(null);
								/*数据处理函数*/
				var jsonTXT =JSON.parse(xhr.responseText);
				if(jsonTXT.code == -1){
					window.location.href = "login.html";
				}
				var newdate = new Date();
				if(jsonTXT.lostList.length == 0){
					window.removeEventListener("scroll",this.handleScroll);
				}
				else{
					for(var i = 0; i<jsonTXT.lostList.length; i++){
						newdate.setTime(jsonTXT.lostList[i].found_time * 1000);
						for(var n = 0; n < this.gro.length; n++){
							if(this.gro[0].length == 0){
								this.gro[0].push({
									id:this.nextID++,
			                		cardNum:jsonTXT.lostList[i].kh,
			                		name:jsonTXT.lostList[i].xm,
			                		cardType:jsonTXT.lostList[i].lost_type,
			                		status:jsonTXT.lostList[i].is_claim,
			                		date:(newdate.getMonth()+1)+'.'+newdate.getDate()
			                	});
			                	this.msgSeen = 1;
							}
							else if( ((newdate.getMonth()+1)+'.'+newdate.getDate()) == this.gro[n][0].date){								
								this.gro[n].push({
									id:this.nextID++,
			                		cardNum:jsonTXT.lostList[i].kh,
			                		name:jsonTXT.lostList[i].xm,
			                		cardType:jsonTXT.lostList[i].lost_type,
			                		status:jsonTXT.lostList[i].is_claim,
			                		date:(newdate.getMonth()+1)+'.'+newdate.getDate()
			                	});
			                	break;
							}
							else if(n == this.gro.length - 1){
								this.gro.push([{
									id:this.nextID++,
			                		cardNum:jsonTXT.lostList[i].kh,
			                		name:jsonTXT.lostList[i].xm,
			                		cardType:jsonTXT.lostList[i].lost_type,
			                		status:jsonTXT.lostList[i].is_claim,
			                		date:(newdate.getMonth()+1)+'.'+newdate.getDate()
			                	}]);
			                	break;
							}
						}
					}
				}
			}
		},
		mounted:function(){
			this.sendRequest(this.currentPage);
			window.addEventListener('scroll',this.handleScroll);
		},
		beforeDestory:function(){
			window.removeEventListener('scroll',this.handleScroll);
		}
	});				
</script>
</html>
